/*______Reset_____*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*______main style_______*/

html body{
    font-family: sans-serif;
}
/*__________First section_____________*/
.section1 {
    background-image: url("../imges/img-banner-4.7f87a631.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 800px;
    padding-bottom: 400px;
    padding-left: 30px;
}

#banner-1 {
    font-size: 50px;
    padding-top: 200px;
}

#button-1 {
    text-align: center;
    border-radius: 25px;
    margin-left:333px;
    margin-top: 40px;
    padding: 10px 40px;
    font-size: 20px;
    cursor: pointer;
}


#button-1:hover {
    background-color: black;
    color: white;
}

.section-2 {
    text-align: center;
    padding: 40px;
    margin: 60px;
    font-size: 10px;
}

#section-2 {
    margin: 40px;
    font-size: 30px;
}

.box-1 {
    width: 33.3%;
    float: left;
    padding: 10px 70px;
    text-align: center;
    font-size: 20px;
}

#section-4 {

    width: 20%;
    float: left;
    padding: 30px;
}

#section-3h {
    margin-top: 60px;
    padding-top: 100px;
    padding-left: 600px;
    padding-bottom: 80px;
    /*text-align: center;*/
}

#section-5h {
    text-align: center;
    margin: 40px;

}

#section-5{
    padding: 40px;
    margin: 10px 40px;

}

.box-2 {
    width: 33.3%;
    float: left;
    text-align: center;
}

#section-6{
    margin-top: 60px;
}

.box-3 {
    margin-top: 60px;
    width: 50%;
    float: left;
    text-align: center;
}
/*---------books html------*/

#book-bg img {
  width: 100%;
}

#book-bg h1{
    position: absolute;
    margin-top: 200px;
    margin-left: 665px;
    color: snow;
    font-size: 60px;
}

#book-s1{
    display: block;
}

#book-s1 p {
    margin: 30px;
    text-align: center;
    font-size: 20px;
}

#book-s1 input {
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 200px;
    border-radius: 25px;
}

#book-s1 button{
    margin-left: 25px;
    padding: 10px 32px;
    font-size: 16px;
    border-radius: 25px;
}

#book-s1 button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.leftside, .rightside {
    height: 100vh;
    width: 100%;
}
.leftside {

}

.leftside h4{
    text-align: center;
    margin: 10px;
    font-style: inherit;
}

.rightside {
    background-color: blue;
}

.book-top{
    float: left;
    width: 50%;

}

.book-top img {
    padding: 20px 60px;
    height: 300px;
    width: 80%;
}